@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table border='1'>
    <thead>
        <table border='1'>
            <thead>

            <th>ID </th>
            <th>Language Name</th>
            <th>Proficiency Level</th>
          
    </thead>

            @{
        <tbody>

                    @foreach (var c in ViewBag.ListOfEducation)
                    {
                <tr>
                    <td> @c.ID </td>
                    <td> @c.LanguageName </td>
                    <td> @c.ProficiencyLevel </td>
                  

                </tr>
                    }
        </tbody>

            }

</table>