@{
    ViewData["Title"] = "Home Page";
}


<button style="margin-left:550px;margin-top:200px; margin-bottom: 200px; ">  <a style="text-decoration:none;" href="Home/Resume"> View My Resume </a>  </button>








































