@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="InsertEducation">

    Degree<br />
    <input type="text" name="degree" /><br />

    School<br />
    <input type="text" name="school" /><br />

    Graduation Year<br />
    <input type="number" name="graduationYear" /><br /> 
    
    Gpa<br />
    <input type="number" name="gpa" /><br />




    <input type="submit" value="Submit" /> <input type="reset" />


</form>