@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Update Experience section </h1>
<form asp-action="UpdateEducation" method="post">

   
        <div>
            <input class="form-control" type="text" name="id"  hidden>


            <label for="jobTitle" class="form-label">Language Name</label>
            <input class="form-control" type="text" name="jobTitle"  />

            <label for="company" class="form-label"> Company</label>
            <input class="form-control" type="text" name="company"  />


            <label for="startDate" class="form-label"> StartDate</label>
            <input class="form-control" type="text" name="startDate"  />



            <label for="endDate" class="form-label"> StartDate</label>
            <input class="form-control" type="text" name="endDate"  />



            <label for="responsibilities" class="form-label"> Responsibilities</label>
            <input class="form-control" type="text" name="responsibilities"  />

            <br />
        </div>
    
    <input type="submit" value="Submit" /> <input type="reset" />







</form>