@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Update your Projects Section </h1>
<form asp-action="UpdateProjects" method="post">

   
        <div>
            <input class="form-control" type="text" name="id"  hidden>


            <label for="projectName" class="form-label">Project Name</label>
            <input class="form-control" type="text" name="projectName"  />

            <label for="description" class="form-label"> Description</label>
            <input class="form-control" type="text" name="description"  />

            <label for="technologiesUsed" class="form-label"> Technologies Used</label>
            <input class="form-control" type="text" name="technologiesUsed" />
          


        </div>
        

    <input type="submit" value="Submit" /> <input type="reset" />

</form>